* {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo-os {
    &[os="linux"]{
        background-image: url(../icons/linux.png);
    }
    &[os="windows"]{
        background-image: url(../icons/windows.png);
    }
    &[os="macos"]{
        background-image: url(../icons/macos.png);
    }
    &[os="unknown"]{
        background-image: url(../icons/unknown.png);
    }
    width: 64px;
    height: 64px;
}

body {
    background: lightblue;
}

.meter {
    display: flex;
    flex-direction: row;
    align-items: center;

    & progress {
        height: 30px;
        width: 200px;
        border-radius: 8px;
        appearance: none;
        border: none;
        background-color: lightyellow;
        
        &::-webkit-progress-value {
            background-color: orange;
            border-radius: 8px;
        }

        &::-moz-progress-bar {
            background-color: orange;
            border-radius: 8px;
        }

        &::-webkit-progress-bar {
            background-color: lightyellow;
            border-radius: 8px;
        }
    }

    position: relative;

    & .label {
        position: absolute;
        left: 8px;
    }

    & .info {
        position: absolute;
        right: 8px;
        font-weight: 700;
    }
}